@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Montserrat:wght@500&display=swap');


/*HEADER*/
header {
    width: 1440px;
    height: 85px;
    border: 1px solid black;
    padding: 0;
}

/*LOGO*/
.logo {
    font-weight: 700;
    font-size: 32px;
    font-family: 'M PLUS 1p', sans-serif;

    width: 94px;
    height: 48px;

    margin-top: 17px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding: 0;

    color: #C90000;
    float: left;
}


/*QUICK INFO BUTTONS*/
#catalog {
    -webkit-text-stroke-width: 1px;
}

.quick_info {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 494px;
    height: 19px;

    margin-top: 32px;
    margin-bottom: 34px;
    margin-left: 125px;
    padding: 0;
    float: left;
}

.quick_info div button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;

    color: #C90000;
    background-color: whitesmoke;

    border: none;
    cursor: pointer;
    float: left;
}


/*ICONS*/
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 113px;
    height: 29px;

    margin-top: 27px;
    margin-left: 128px;
    float: left;
}

.icons div image {
    display: inline-block;
}

.heart {
    Width: 24px;
    Height: 22px;
}

.loup {
    width: 23px;
    height: 23px;
}

.cart {
    width: 29px;
    height: 24px;
}


/*CALL BUTTON*/
.call_button {
    margin-left: 45px;
    width: 226px;
    height: 47px;
    margin-top: 18px;


    text-align: center;
    border: none;
    background-color: rgb(201, 0, 0);
}

.call_button > span {
    Width: 136px;
    Height: 19px;

    color: white;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}