@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Montserrat:wght@500&display=swap');

/*Footer*/
footer {
    width: 1440px;
    height: 372px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
    display: flex;
    margin: 0;
    padding: 0;
}


/*LOGO*/
.footer_label_logo {
    width: 117px;
    height: 60px;

    margin: 156px 150px 156px 100px;
    padding: 0;
    float: left;
}

.footer_label_logo span {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 700;
    font-size: 40px;
}


/*LOCATION*/

.footer_location {
    width: 275px;
    height: 372px;

    float: left;
}


.label_location {
    width: 85px;
    height: 24px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;

    margin-top: 99px;
}


.point {
    width: 238px;
    height: 39px;
}

.point1 {
    margin-top: 14px;
}

.point2 {
    margin-top: 16px;
}

.point3 {
    margin-top: 20px;
}


.icon_point {
    width: 24px;
    height: 24px;

    margin-top: 6px;
    float: left;
}

.address {
    width: 250px;
    height: 42px;

    margin-left: 37px;
}

.address > span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}


/*QUICK INFO*/
.footer_quick_info {
    margin: 102px 170px 71px 170px;

    display: flex;
    flex-direction: column;
}

.footer_quick_info div {
    line-height: 2.5em;
}

.footer_quick_info div button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;

    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
    line-height: 2.8em;

    border: none;
    cursor: pointer;
    float: left;
}


/*ANOTHER INFO*/

.footer_another_info {
    width: 186px;
    height: 210px;

    margin-top: 94px;
    margin-bottom: 70px;

    float: left;
}

/*Contact US*/
.footer_contact_us {
    width: 186px;
    height: 98px;

    margin-bottom: 52px;
    float: left;

    display: block;
}

.footer_label_contact_us {
    width: 116px;
    height: 24px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

/*Gmail*/
.gmail {
    width: 202px;
    height: 24px;

    margin-top: 15px;
}

.icon_gmail {
    width: 24px;
    height: 24px;

    float: left;
}


.label_gmail {
    width: 185px;
    height: 20px;
    padding-top: 2px;
}

.label_gmail > span {
    width: 141px;
    height: 19px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;

    margin-left: 13px;
}


/*Phone*/
.phone {
    width: 149px;
    height: 24px;

    margin-top: 13px;
}

.icon_phone {
    width: 26px;
    height: 26px;

    float: left;
}

.label_phone {
    width: 149px;
    height: 20px;
    padding-top: 2px;
}

.label_phone > span {
    width: 109px;
    height: 19px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;

    margin-left: 13px;
}


/*Follow us*/
.footer_follow_us {
    width: 104px;
    height: 54px;
    float: left;
}

.footer_label_follow_us {
    width: 100px;
    height: 24px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;

    display: block;
}

.footer_social_follow_us {
    width: 104px;
    height: 24px;

    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.column {*/
/*    float: left;*/
/*    padding: 5px;*/
/*}*/

/*.row::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/

/*.facebook > span > img {*/
/*    display: block;*/
/*}*/
